<html>
<head>
	<meta charset="UTF-8">
	<title>Little Mister</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="getExpress.css">
	<link rel="shortcut icon" href="">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="../js/jquery.min.js"></script>
	<script src="../js/semantic.js"></script>
	<script src="../js/jquery.pagination.js"></script>
</head>
<body>
	
	<!-- Sidebar Menu -->
	<div class="ui left sidebar inverted vertical visible uncover menu">
		<h1 class="ui header blue" id="menu-name">Little Mister</h1>
		<!--<a class="item" onclick="switch_button()"><i class="align justify icon"></i>收起</a>-->
	    <a class="item" href="../page_1/page_1.html"><i class="angle right icon"></i> 发布任务 </a>
	    <a class="item" href="../getQuestion/getQuestion.html"><i class="angle right  icon"></i> 领取任务 </a>
	    <a class="item" href="../manageQuestion/manageQuestion.html"><i class="angle right icon"></i> 任务管理 </a>
	    <a class="item"  href="../personInfo/personalInfo.html"><i class="angle right icon"></i>个人信息</a>
		<a class="item"><i class="sign out icon"></i>注销账号</a>
	</div>
	
	<!-- pusher-->
	<div class="pusher" id="mypusher">
		<!-- switch button-->

		<button class="ui icon button" onclick="switch_button()">
	        <i class="align justify icon" onclick="switch_button()"></i> </button>
		
		<div id="back-image"></div>
		<!-- main page-->

		<div id="express-list">
			<button class="ui basic icon button" onclick="return_button()">
				<i class="reply icon"></i>
			</button>
			
			<form class="ui mini form">
				<div class="three fields">
					<div class="field">
						<label>省份</label>
						<!--省份选择-->
						<select id="prov" onchange="showCity(this)">
							<option>请选择</option>
						</select>
					</div>
					<div class="field">
						<label>城市</label>
						<!--城市选择-->
						<select id="city" onchange="showCountry(this)">
							<option>请选择</option>
						</select>
					</div>
					<div class="field">
						<label>县区</label>
						<!--县区选择-->
						<select id="country" onchange="selecCountry(this)">
							<option>请选择</option>
						</select>
					</div>
				</div>
			</form>
			<form id="search" v-on:submit.prevent="searchExpress">
				<div class="ui search">
					<div class="ui large icon input">	
						<input class="prompt" 
							v-model="newExpressText"
							id="new-express"
							placeholder="搜索">
						<i class="search icon"></i>
					</div>
					<button class="circular ui button">搜索</button>
				</div>
			</form>
			
			<div id="pages"><div id="pagination" class="ui borderless menu"></div></div>
			<div  class="ui cards">
				<div
					is="express-item"
					v-for="(express, index) in expresses"
					v-bind:id="express.id"
					v-bind:address="express.address"
					v-bind:author="express.author"
					v-bind:deadline="express.deadline"
					v-bind:money="express.money"
					v-on:remove="expresses.splice(index, 1)"
				></div>
			</div>
		</div>

		
	</div>

	<script src="../js/city.js"></script>
	<script src="getExpress.js"></script>
	<script src="../js/axios.min.js"></script>
</body>
</html>