<html>
<head>
	<meta charset="UTF-8">
	<title>Little Mister</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="register.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="../js/jquery.min.js"></script>
	<script src="../js/semantic.js"></script>
</head>
<body>
	
	<!-- register -->
	<div id="back-image"></div>
	<div class="ui middle aligned center aligned grid">
		<div class="column">
			<h1>Little Miser</h1>
			<h2>Register</h2>
			<div class="ui buttons">
				<button id="stu" class="ui button active" onclick="selectStudent()">学生</button>
				<div class="or"></div>
				<button id="cow" class="ui button disable" onclick="selectCow()">机构</button>
			</div>
			
			<form class="ui form" id="register">
				<div class="field">
					<div class="field">
						<label>账号（手机/邮箱）*</label>
						<input type="text" v-model="username" placeholder="手机/邮箱" @blur="checkUsername()">
						<p>{{ usernameMsg }}</p>
					</div>
					<div class="field">
						<label>密码 *</label>
						<input type="password" v-model="password" placeholder="" @keyup="checkPassword()">
						<p>{{ passwordMsg }}</p>
					</div>
				</div>
				<div id="student">
					<h4 class="ui dividing header">个人信息</h4>
					<div class="field">
						<div class="field">
							<label>昵称 *</label>
							<input type="text" v-model="nickname" placeholder="昵称" @blur="checkNickname()">
							<p>{{ nicknameMsg }}</p>
						</div>
						<div class="two fields">
							<div class="field">
								<label>姓名 *</label>
								<input type="text" v-model="sname" placeholder="姓名" @blur="checkSnameNumber()">
							</div>
							<div class="field">
								<label>学号 *</label>
								<input type="text" v-model="snumber" placeholder="学号" @blur="checkSnameNumber()">
							</div>
							
						</div>
						<p>{{ snameMsg }}</p>
						<div class="two fields">
							<div class="field">
								<label>年龄</label>
								<input type="text" v-model="age" placeholder="年龄" @blur="checkAge()">
								<p>{{ ageMsg }}</p>
							</div>
							<div class="field">
								<label>性别 *</label>
								<select v-model="selected">
									<option value="male">男</option>
									<option value="female">女</option>
								</select>
								<p>{{ sexMsg }}</p>
							</div>
						</div>
						<div class="two fields">
							<div class="field">
								<label>年级</label>
								<input type="text" v-model="grade" placeholder="年级">
							</div>
							<div class="field">
								<label>专业</label>
								<input type="text" v-model="major" placeholder="专业">
							</div>
						</div>
					</div>
					<br/>
				</div>
				<div class="ui error message">{{ errorMsg }}</div>
				<div class="ui fluid large submit button black" @click="register($event)">注册</div>
			</form>
			<div class="ui message">
				已注册？ <a href="../index/index.html">去登录</a>
			</div>
		</div>
	</div>
	<script src="register.js"></script>
	<script src="../js/axios.min.js"></script>
</body>
</html>