#back-image {
	background-image: url("../image/bg02.gif");
	background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
}
#box {
	height: 100%;
	width: 100%;
}
#all_info {
	
	width:800px;
	height:380px; 
	margin-left:8%; 
	margin-top: 5%;
}
#change_pass {
	background-color:#FFFFFF;
	width:800px;
	height:380px; 
	margin-left:8%; 
	margin-top: 5%;
}
#change_info {
	background-color:#FFFFFF;
	width:800px;
	height:380px; 
	margin-left:8%; 
	margin-top: 5%;
}
#seven_item {
	margin:5%;
}
#change_passwd {
	margin:5%;
}
#change_information {
	margin:3%;
}
h5 {
	font-size: 20px;
}
#items{
	margin-left:10%; 
	font-size:17px; 
}
#changeInfoBtn {
	float: right;
}
#double_btn {
	margin-top: 5%;
}
#double_btn2 {
	margin-top: 5%;
	margin-left: -4%;
}
#double_btn3 {
	margin-top: -2%;
	margin-left: -3%;
}
.field {
	margin-top: 2%;
}
form {
	margin-top: 3%;
}
#intro {
	margin-left:10%; 
	font-size:17px;
	word-wrap:break-word;
	word-break:break-all;
}
#menu-name {
	text-align:center;
	margin-top: 5%;
}