<html>
<head>
	<meta charset="UTF-8">
	<title>Little Mister</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="index.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="../js/jquery.min.js"></script>
	<script src="../js/semantic.js"></script>
</head>
<body>
	
	<!-- register -->
	<div id="back-image"></div>
	<div class="ui middle aligned center aligned grid">
		<div class="column">
			<h1>Little Miser</h1>
			<h2>Log In</h2>
			
			<form class="ui large form" id="login">
				<div class="ui stacked">
					<div class="field">
						<div class="ui left icon input">
							<i class="user icon"></i>
							<input type="text" v-model="username" placeholder="邮箱/手机" @blur="checkUsername()">
						</div>
					</div>
					<div class="field">
						<div class="ui left icon input">
							<i class="lock icon"></i>
							<input type="password" v-model="password" placeholder="密码" @blur="checkPassword()">
						</div>
					</div>
					<div class="ui fluid large submit button black" @click="logIn($event)">登录</div>
				</div>
	
				<div class="ui error message">{{ errorMsg }}</div>
	
			</form>
	
			<div class="ui message">
				新用户？ <a href="../register/register.html">注册</a>
			</div>
		</div>
	</div>
	<script src="index.js"></script>
</body>
</html>